body {
    color: aliceblue;
}

.menu-body {
    display: flex;
    justify-content: center;
    background-image: url(./img/martin-vodička.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-main {
    background-color: rgb(39, 39, 39);
    opacity: 98%;
    padding: 50px;
    margin: 100px;
}

a {
    color: inherit;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

#loadList {
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#loadList > div:hover {
    background-color: black;
}