#track-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    height: 800px;
    width: 800px;
    margin: auto;
}

#track-grid > div {
    border: 1px solid gray;
    background-size: cover;
}

#track-grid > div:hover {
    border-color: black;
}

main {
    display: flex;
}

nav {
    background-color: rgb(39, 39, 39);
    opacity: 98%;
    padding: 50px;
}

nav img {
    width: 200px;
    height: 200px;
}

#materials > div:hover {
    background-color: black;
}

h2 {
    margin: 0px;
}